.text {
  color: var(--white);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.text-container {
  z-index: 9999;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  box-sizing: border-box;

  /* Visibility */
  --display: none;
  display: var(--display);

  background-color: var(--dark-grey);
  height: 6rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
