.screen {
  --height: 0;
  --width: 0;

  background-color: var(--black);
  height: calc(var(--height) * var(--tile-size));
  width: calc(var(--width) * var(--tile-size));
  position: relative;
  box-sizing: border-box;
}
