.controls {
  box-sizing: border-box;
  width: var(--screen-width);
  padding: 2rem;
  background-color: var(--dark-grey);
}

.zoom {
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  font-size: 1.5rem;
}

.zoom.in {
}

.zoom.out {
}
