.controls {
  box-sizing: border-box;
  width: var(--screen-width);
  padding: 1rem;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

.zoom {
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  font-size: 1.5rem;
}

.zoom.in {
}

.zoom.out {
}

.selected {
  box-sizing: border-box;
  background-color: var(--white);
  height: 5rem;
  width: 10rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.selected p {
  margin: 0;
}

.time {
  background-color: var(--white);
  display: inline;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: auto;
}
