:root {
  --black: black;
  --dark-grey: rgba(60, 60, 60, 0.8);
  --white: white;

  --tile-size: 1rem;
  --scale: 1;
  --transition: 0.1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
