.map {
  --height: var(--screen-height);
  --width: var(--screen-width);

  box-sizing: border-box;
  height: calc(var(--unit) * var(--height));
  width: calc(var(--unit) * var(--width));

  display: flex;
  flex-wrap: wrap;

  position: relative;
}
